<h1>Edit a User Information</h1>
<form action="get">
    <div class="form-group">
   		<label>username</label>
    	<input class="form-control" ng-model="one.username"></input>
    </div>
    <div class="form-group">
       <label>password</label> 
       <input class="form-control" ng-model="one.password"></input>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="saveEdit()"></input> 
    <input type="button" name="" value="return" ng-click="exit()"></input>
</form>
